@font-face {
    font-family: Ubuntu;
    src: url("/res/Ubuntu.woff2") format("woff");
}
html {
    background-color: black;
    background-image: url('/res/background.jpg');
    background-repeat: repeat;
    color: white;
    font-family: 'Ubuntu';font-size: 16px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #00ff48;
}
h2 {
    color: #00ff48;
}
.topnav {
    overflow: hidden;
} 
.topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #00ff48;
    color: white;
}
.topnav a.active {
    background-color: #00ff48b4;
    color: white;
}
.image-div{
    float:right;
    margin-right:10px;
    max-width: 20%;
    max-height: 20%;
}